Import libraries

In [1]:
import pandas as pd
import numpy as np

Read in team wins file

In [2]:
#change file format to CSV
team_wins = pd.read_csv(r'raw_files\win_totals\mlb_win_totals.csv')

Clean data file - this has over 90 years of data. I need just the last 5 years

In [3]:
#drop rows to only include years 2019-2023
team_wins.drop(team_wins[team_wins['Year'] < 2019].index, inplace=True)

team_wins.head(10)

,Year,G,AG,ARI,IAB,ATL,AC,BBS,BEG,BAL,...,SL2,HAR,TBR,TEX,TT,TOR,SEN,WSN,WAP,WMP
0,2023,162,NaN,84.0,NaN,104,NaN,NaN,NaN,101,...,NaN,NaN,99.0,90.0,NaN,89.0,NaN,71.0,NaN,NaN
1,2022,162,NaN,74.0,NaN,101,NaN,NaN,NaN,83,...,NaN,NaN,86.0,68.0,NaN,92.0,NaN,55.0,NaN,NaN
2,2021,162,NaN,52.0,NaN,88,NaN,NaN,NaN,52,...,NaN,NaN,100.0,60.0,NaN,91.0,NaN,65.0,NaN,NaN
3,2020,60,NaN,25.0,NaN,35,NaN,NaN,NaN,25,...,NaN,NaN,40.0,22.0,NaN,32.0,NaN,26.0,NaN,NaN
4,2019,162,NaN,85.0,NaN,97,NaN,NaN,NaN,54,...,NaN,NaN,96.0,78.0,NaN,67.0,NaN,93.0,NaN,NaN

In [4]:
#drop columns with no data (removing teams that do not exist any longer)
team_wins=team_wins.dropna(axis=1, how='all')

team_wins.head()

,Year,G,ARI,ATL,BAL,BOS,CHC,CHW,CIN,CLE,...,PHI,PIT,SDP,SFG,SEA,STL,TBR,TEX,TOR,WSN
0,2023,162,84.0,104,101,78,83,61,82,76,...,90,76,82.0,79,88.0,71,99.0,90.0,89.0,71.0
1,2022,162,74.0,101,83,78,74,81,62,92,...,87,62,89.0,81,90.0,93,86.0,68.0,92.0,55.0
2,2021,162,52.0,88,52,92,71,93,83,80,...,82,61,79.0,107,90.0,90,100.0,60.0,91.0,65.0
3,2020,60,25.0,35,25,24,34,35,31,35,...,28,19,37.0,29,27.0,30,40.0,22.0,32.0,26.0
4,2019,162,85.0,97,54,84,84,72,75,93,...,81,69,70.0,77,68.0,91,96.0,78.0,67.0,93.0

In [5]:
#converting all values to interger (some are currenlty floats)
team_wins=team_wins.astype(int)
team_wins.drop([3, 4], inplace=True)

team_wins.head()

,Year,G,ARI,ATL,BAL,BOS,CHC,CHW,CIN,CLE,...,PHI,PIT,SDP,SFG,SEA,STL,TBR,TEX,TOR,WSN
0,2023,162,84,104,101,78,83,61,82,76,...,90,76,82,79,88,71,99,90,89,71
1,2022,162,74,101,83,78,74,81,62,92,...,87,62,89,81,90,93,86,68,92,55
2,2021,162,52,88,52,92,71,93,83,80,...,82,61,79,107,90,90,100,60,91,65

In [6]:
#update CSV file
team_wins.to_csv(r'cleansed_data\mlb_win_totals.csv', index=None, header=True)